<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9381af">  <td>21/07/01 00:17:03</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.OpenBrowser()[pri:0, instance:com.rediff.tests.login.LoginTest@dd8ba08]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td>  <td>main@728885526</td>   <td></td> </tr>
<tr bgcolor="9381af">  <td>21/07/01 00:17:07</td>   <td>3293</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.closeBrowser()[pri:0, instance:com.rediff.tests.login.LoginTest@dd8ba08]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@728885526</td>   <td></td> </tr>
<tr bgcolor="b2b0b4">  <td>21/07/01 00:17:03</td>   <td>-333</td> <td title="&gt;&gt;Common.init()[pri:0, instance:com.rediff.tests.login.LoginTest@dd8ba08]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@728885526</td>   <td></td> </tr>
<tr bgcolor="9381af">  <td>21/07/01 00:17:07</td>   <td>3267</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.verifyPageTitle()[pri:1, instance:com.rediff.tests.login.LoginTest@dd8ba08]">verifyPageTitle</td> 
  <td>main@728885526</td>   <td></td> </tr>
</table>
